.wrapper{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 75px;
    background-color: grey;
    border-radius: 10px;
    justify-items: center;
    justify-content: end;
}
.linkformat{
    margin: auto;
    border: black;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 18px;
}
ul{
    list-style-type: none;
}